/* =====================temporada========================= */
.tabela__coluna__img img {
    height: 245px;
}

.temporada {
/*   margin-top: 100px; */
    text-align: center;
}

.categoria--h2Nome {
    text-align: center;
}

.tabela {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.posicao {
    font-size: 128px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.primeiro {
    background-color: #fcb434;
}

.segundo {
    background-color: #c2bdb0;
}

.terceiro {
    background-color: #97784d;
}

.tabela__coluna h4 {
    text-align: center;
}

/* =====================cabeçalho========================= */
.cabecalho {
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  
    align-items: center;
    background-color: rgb(187, 187, 218);
}

.cabecalho__temporadas {
    margin-left: 35%;
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.inverno,
.primavera,
.verao,
.outono {
    display: block;
    text-align: center;
}

/* =====================modal========================= */
.lista,
.extra {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista__lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.lista__busca {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    margin-bottom: 32px;
}

.lista__item {
    background-color: rgb(217, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(241, 239, 239);
    margin: 18px;
    padding: 10px;
    border-radius: 25px;
    width: 250px;
}

.lista__item--img {
    width: 90%;
}

.busca {
    color: #464646;
    margin-left: 12px;
    outline: none;
    border: none;
    line-height: 2.2em;
    font-size: 14pt;
    width: 900px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal__conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

select {
    /* esconder a seta do select */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    text-overflow: '';
}



/* Oculta o botão de rádio padrão */
input[type="radio"] {
    /* display: none; */
}

/* Cria um botão personalizado */
.radio-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* Adiciona um ponto ao botão personalizado quando selecionado */
.radio-button:checked::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
}



.esconder {
    display: none;
}

.desabilitar {
    pointer-events: none;
    opacity: 0.5;
}



/* =====================visualizador json========================= */


/* Adiciona um pouco de espaço entre a imagem e a div de informações */
img {
    float: left;
    margin-right: 20px;
    /* Ajuste o valor conforme necessário */
}

#info {
    /* Centraliza a div de informações */
    margin: auto;
    width: 50%;
    /* Ajuste o valor conforme necessário */
}

.container__op_ed {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.container__op_ed label {
    display: block;
    margin-bottom: 5px;
}

.container__op_ed input {
    margin-bottom: 10px;
    width: 200px;
    /* Define a largura para caber aproximadamente 100 caracteres */
}

.op_ed {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* Altera a direção para coluna */
    align-items: left;
    /* Centraliza os itens na coluna */
    width: 630px;
    /* Largura ajustada para ficar próxima dos inputs */
}

.op_ed label {
    display: block;
    margin-bottom: 5px;
}

.op_ed input {
    margin-bottom: 10px;
    width: 600px;
    /* Define a largura para caber aproximadamente 100 caracteres */
}

.round-button {
    height: 30px;
    /* Ajuste a altura conforme necessário */
    align-self: flex-end;
    margin-top: 10px;
}

#escolha {
    clear: both;
}

#escolha button {
    width: 230px;
    /* Largura ajustada para 230px */
}

.anime-box {
    background-color: #cceeff;
    /* Cor de fundo azul claro */
    padding: 20px;
    /* Adiciona um espaçamento interno */
    margin-bottom: 20px;
    /* Adiciona uma margem inferior para separar as caixas */
}

.inputAnime {
    width: 1000px;
}